@import "common/foundation/variables";

.link-top-line .vote-count-before-title {
  display: none;
}

.voting-category.list-container {
  
  .badge-wrapper {
    display: none;
  }
  
  .topic-list-item:not(.non-voting) {  
    .discourse-tags {
      .list-vote-count {
        display: none;
      }
    }
  
    .vote-count-before-title {
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: var(--primary);
      padding: 8px 0;
      border: 1px solid var(--primary-low);
      right: 1em;
      border-radius: var(--d-default-border-radius);
      text-align: center;
      height: 30px;
      width: 45px;
      position: absolute;
      overflow: hidden;

      .d-icon {
        font-size: var(--font-up-6);
        color: var(--primary-300);
        display: flex;
        align-self: center;
        height: 40px;
        margin: -8px;
        pointer-events: none;
      }

      .topic-list-vote-button {
        display: flex;
        justify-content: center;
        @if $vote_from_topic_list == "false" {
          cursor: default;
        }
        &:focus {
          background: transparent;
        }
        &:hover:not(.disabled) {
          background: var(--primary-very-low);
        }
        &:not(.can-vote) .d-icon {
          color: var(--tertiary);
        }
        &.disabled {
          cursor: default;
        }
      }
    }

    &:not(.visited) {
      .topic-list-vote-button {
        cursor: default;
        pointer-events: none;
      }
    }
  }
}
